.git
.gitignore
.env.local
.env.*.local
.next
node_modules
npm-debug.log
*.md
.DS_Store
.vscode
.idea
playwright-report
e2e
jest.config.ts
jest.setup.ts
eslint.config.mjs
.prettierrc
.prettierignore
.nvmrc
playwright.config.ts
