name: Python Package Build Test

run-name: Test building the llama-stack PyPI project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
        - 'src/llama_stack_ui/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.13']

    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: true
        version: 0.7.6

    - name: Build Llama Stack API package
      working-directory: src/llama_stack_api
      run: uv build

    - name: Build Llama Stack package
      run: uv build

    - name: Install Llama Stack package (with api stubs from local build)
      run: |
        uv pip install --find-links src/llama_stack_api/dist dist/*.whl

    - name: Verify Llama Stack package
      run: |
        uv pip list
        uv pip show llama-stack
        command -v llama
        llama stack list-apis
        llama stack list-providers inference
        llama stack list-deps starter
