name: Python Package Build Test

run-name: Test building the llama-stack PyPI project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
        - 'src/llama_stack_ui/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.13']

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: true

    - name: Build Llama Stack API package
      working-directory: src/llama_stack_api
      run: uv build

    - name: Build Llama Stack package
      run: uv build

    - name: Install Llama Stack package (with api stubs from local build)
      run: |
        uv pip install --find-links src/llama_stack_api/dist dist/*.whl

    - name: Verify Llama Stack package
      run: |
        uv pip list
        uv pip show llama-stack
        command -v llama
        llama stack list-apis
        llama stack list-providers inference
        llama stack list-deps starter
